@import url('https://fonts.googleapis.com/css2?family=Combo&family=Gentium+Book+Plus&display=swap');

body {
    background-color: #c8f7ff;
    font-family: 'Combo', cursive;
    font-family: 'Gentium Book Plus', serif;
    color: black;

}

.yourlist1 {
    color: black;
    text-decoration: none;
    background-color: #00b4d8;
    font-size: 1.2rem;
    padding: 5px 5pxpx;
    width: auto;

    font-weight: bold;
}

.yourlist2 {
    color: black;
    text-decoration: none;
    background-color: #00b4d8;
    font-size: 1.2rem;
    padding: 10px 15px;
    width: auto;
    margin-top: 10px;
    font-weight: bold;
}

.button {

    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    background-color: #f37ac2;


}

.button1 {

    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    background-color: #f37ac2;
    margin-left: 2rem;
    width: 75px;
  

}

button#add:hover {
    background-color: #f15bb5;
}

button#del:hover {
    background-color: #f15bb5;
}

button#mod:hover {
    background-color: #f15bb5;
}

button#toggle:hover {
    background-color: #f15bb5;
}



.list1 {

    margin: auto;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    background-color: #7df9b7;
    border-radius: 10px;
    border-style: double;
    border-color: #0049B7;
    text-align: center;
    width: 50%;

}

.input1 {
    margin-left: 6px;
    width: 60%;
    border-radius: 10px;
}
.input2 {
    width: 50px;
    text-align: center;
    border-radius: 10px;
    height:2rem;
}


table,
th,
td {
    border: 2px solid #00b4d8;
    margin: 10px;
    padding: 10px;
    
}
table{
    border-radius: 10px;
}
label {
    display: inline-block;
    
    text-align: left;
  }
